@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

// colors:
$orange: hsl(35, 77%, 62%);
$red: hsl(5, 85%, 63%);
$off-white: hsl(36, 100%, 99%);
$light-gray: hsl(233, 8%, 79%);
$dark-gray: hsl(236, 13%, 42%);
$dark-blue: hsl(240, 100%, 5%);
$body-background-color: rgb(255, 255, 255);

// font:
$family-font: "Inter", sans-serif;
$size-font: 1rem;

// mixin:
@mixin contentStyle($TitleColor, $TextColor, $TitleHoverColor) {
  h2 {
    color: $TitleColor;
    font-size: $size-font;
  }
  h2:hover {
    color: $TitleHoverColor;
    cursor: pointer;
  }
  p {
    color: $TextColor;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 2em;
  }
}
