@import "../variables/variables.scss";

.block {
  background-color: $dark-blue;
  margin: 3em 0;
  padding: 1em 1.6em;
  h1 {
    margin: 0;
    color: $orange;
  }
  hr {
    border: 1px solid $light-gray;
    margin: 2em 0;
  }
  .content {
    @include contentStyle($off-white, $light-gray, $orange, 1rem, 0.7rem);
  }
}

@media (min-width: 1400px) {
  .block {
    margin: 0;
    padding: 2.5em 1.6em;
    width: 75%;
    h1 {
      font-size: 4rem;
    }
  }
  .content {
    @include contentStyle($off-white, $light-gray, $orange, 2rem, 3rem);
  }
}
