@import "../variables/variables.scss";

// News block style:
.block {
  background-color: $dark-blue;
  margin: 3em 0;
  padding: 1em 1.6em;
  h2 {
    margin: 0.5em 0;
    color: $orange;
  }
  hr {
    border: 1px solid $light-gray;
    margin: 2em 0;
  }
  .content {
    @include contentStyle($off-white, $light-gray, $orange, 1rem, 0.7rem, 0);
  }
}

// Breakpoint at 992px:
@media only screen and (min-width: 992px) {
  .block {
    margin: 3em 0;
    padding: 2em 1.6em;
    h2 {
      margin-top: 0;
      font-size: 2.5rem;
    }
    .content {
      @include contentStyle(
        $off-white,
        $light-gray,
        $orange,
        1.5rem,
        1.1rem,
        0
      );
    }
  }
}

// Breakpoint at 1439px:
@media only screen and (min-width: 1439px) {
  .block {
    margin: 0;
    padding: 1.5em;
    width: 93%;
    h2 {
      font-size: 3rem;
    }
    .content {
      @include contentStyle($off-white, $light-gray, $orange, 1.1em, 0.9em, 0);
    }
  }
}
