@import "../variables/variables.scss";
.card-container {
  margin: 2em 0;
  .card {
    display: flex;
    height: 7rem;
    margin: 1.5em 0;
    gap: 1em;
    img {
      width: 30%;
      object-fit: cover;
    }
    .content {
      width: 70%;
      line-height: 0.7em;
      @include contentStyle($dark-blue, $dark-gray, $red, 0.9em, 0.7em, 1.5em);
    }
    .content:hover {
      cursor: pointer;
    }
  }
}

@media only screen and (min-width: 1439px) {
  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .card {
      width: 40%;
      img {
        width: 25%;
      }
      .content {
        width: 65%;
        @include contentStyle(
          $dark-blue,
          $dark-gray,
          $red,
          0.9em,
          0.7em,
          1.5em
        );
      }
    }
  }
}
