@import "../variables/variables.scss";
.card-container {
  margin: 2em 0;
  .card {
    display: flex;
    height: 10rem;
    img {
      width: 30%;
      object-fit: cover;
      margin: 1em 0;
    }
    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 1em 0 1em 1em;
      width: 70%;
      @include contentStyle($dark-blue, $dark-gray, $red, 1rem, 0.9rem);
    }
    .content:hover {
      cursor: pointer;
    }
  }
}
@media (min-width: 1400px) {
  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .card {
      width: 30%;
    }
  }
}
