@import "../variables/variables.scss";

// Card style by default on mobile :
.card-container {
  margin: 2em 0;
  background-color: red;
  .card {
    display: flex;
    height: 7rem;
    margin: 1.5em 0;
    gap: 1em;
    img {
      width: 30%;
      object-fit: cover;
    }
    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 70%;
      @include contentStyle(
        $dark-blue,
        $dark-gray,
        $red,
        0.9em,
        0.7em,
        1.5em,
        0,
        0,
        0
      );
    }
    .content:hover {
      cursor: pointer;
    }
  }
}

@media only screen and (min-width: 1439px) {
  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .card {
      width: 40%;
      img {
        width: 25%;
      }
      .content {
        width: 65%;
        @include contentStyle(
          $dark-blue,
          $dark-gray,
          $red,
          1em,
          0.8em,
          1.7em,
          0,
          0,
          0
        );
      }
    }
  }
}
