@import "../variables/variables.scss";

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: $size-font;
  font-family: $family-font;
  background-color: $body-background-color;
}
.App {
  margin: 1em;
}

@media only screen and (min-width: 1439px) {
  .App {
    margin: 0 10em;
  }
  .desktop-hero {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
  }
}
