@import "../variables/variables.scss";

.hero {
  img {
    width: 100%;
    height: auto;
  }
  h1 {
    width: 70%;
  }
  p {
    color: $dark-gray;
    font-size: 0.8rem;
    letter-spacing: 1px;
    line-height: 1.7em;
    font-weight: 400;
  }
  button {
    border: none;
    color: $off-white;
    background-color: $red;
    font-size: 0.7rem;
    padding: 1em 2.5em;
    letter-spacing: 1.5px;
  }
  button:hover {
    cursor: pointer;
    background-color: $dark-blue;
  }
}
