@import "../variables/variables.scss";

.hero {
  img {
    width: 100%;
    height: auto;
  }
  h1 {
    width: 70%;
  }
  p {
    color: $dark-gray;
    font-size: 0.8rem;
    letter-spacing: 1px;
    line-height: 1.7em;
    font-weight: 400;
  }
  button {
    border: none;
    color: $off-white;
    background-color: $red;
    font-size: 0.7rem;
    padding: 1em 2.5em;
    letter-spacing: 1.5px;
  }
  button:hover {
    cursor: pointer;
    background-color: $dark-blue;
  }
}

@media only screen and (min-width: 1439px) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
      width: 100%;
      height: 100%;
    }
    .hero-content {
      display: flex;
      justify-content: flex-start;
      gap: 4em;
      padding: 1.5em 0 0 0;
      h1 {
        padding: 0;
        margin: 0;
        font-size: 3.5rem;
      }
      p {
        padding: 0;
        margin: 0 0 1em 0;
        font-size: 1rem;
      }

      .hero-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 80%;
        button {
          font-size: 1.1rem;
        }
      }
    }
  }
}
