@import "../variables/variables.scss";
.mobile-navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  img {
    width: 2rem;
    height: 2rem;
  }
  img:hover {
    cursor: pointer;
    filter: invert(55%) sepia(28%) saturate(5730%) hue-rotate(329deg)
      brightness(97%) contrast(95%);
  }
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  margin: 3em 0 1em 0;
  img:hover {
    cursor: pointer;
    filter: invert(55%) sepia(28%) saturate(5730%) hue-rotate(329deg)
      brightness(97%) contrast(95%);
  }

  ul {
    display: flex;
    list-style: none;
    li {
      margin: 0 1em;
      a {
        color: $dark-gray;
        text-decoration: none;
        font-size: $size-font;
        letter-spacing: 1px;
        font-weight: 400;
      }
      a:hover {
        color: $red;
      }
    }
  }
}

.modal {
  position: fixed;
  top: 3em;
  right: 0em;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  .Mobile-menu-list {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 80%;
    height: 100%;
    position: relative;
    right: -100px;
    top: -16px;
    a {
      color: $dark-blue;
      text-decoration: none;
      font-size: $size-font;
      letter-spacing: 1px;
      font-weight: 400;
      padding: 1em 0;
    }
  }
}
