@import "../variables/variables.scss";
.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  img {
    width: 2rem;
  }
  img:hover {
    cursor: pointer;
    filter: invert(55%) sepia(28%) saturate(5730%) hue-rotate(329deg)
      brightness(97%) contrast(95%);
  }
}
